<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changement de mot de passe</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">

<main>
    <h4 id="response" class="text-center text-danger"></h4>
    <div class="container">
        <div class="row">
            <div class="col s1 m3 l4"></div>
            <div class="col s10 m6 l4">
                <form action="/auth/password_changed" method="post" onsubmit="controlConformity(event)">
                    <input type="hidden" name="token" value=<%=token%> >
                    <div class="form-group">
                        <input type="text" name="pass" id="pass" class="form-control" placeholder="Mot de Passe"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Confirmer Mot de Passe"/>
                    </div>
                    <div class="container">
                        <div class="col text-center">
                            <button class="btn btn-primary">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s1 m3 l4"></div>
        </div>
    </div>
</main>
<script>
    var controlConformity = (e) => {
        if(document.getElementById('pass').value !== document.getElementById('cpass').value) {
            e.preventDefault();
            document.getElementById('response').innerHTML = "Les mots de passe ne correspondent pas"
            document.getElementById('cpass').classList.toggle('invalid');
        }
    };
</script>
</body>
</html>
